div {
    width:150px;
    height:150px;
    background:#696969;
    margin-bottom: 20px;
    margin-left: 15px;
    border:1px solid black;    
}
.uno {
    position:relative;
    margin-top:20px;
    margin-bottom:
}
.padre {
    width:560px;
    height:200px;
    position:relative;
    
}
.dos {
    position:relative;
    float:left;
    top:12px;
    left:12px;
    margin:12px;
}

.tres {
    float:left;
}
.cuatro {
    left:180px;   
}
.cinco {
    float:left;
}
